
@import 'base/variable';
$primary_color: #fe7d0b;
$color_tundora : #0c1429;
$secondary_color: #0c1429;
$color_tundora : $secondary_color;
$header_color : $secondary_color;
$news_sec: darken($secondary_color , 5%);
$foter_color: darken($secondary_color , 5%);
$new_back : $secondary_color;
$color_down : $secondary_color;
$black : $secondary_color;

@import 'base/style';
@import 'base/menu';
@import 'base/responsive';