<!-- Footer Start -->
<footer class="footer-ecommerce">
    <div class="upper-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer_first">
                        <div class="footer-title mobile-title">
                            <h3>About Us</h3>
                        </div>
                        <div class="footer-contant">
                            <img src="assets/images/ecommerce/Footer-logo.png" class="foot_logo" alt="">
                            <p>Lorem Ipsum is simply dummy text of the printing and type-setting industry.</p>
                            <div class="footer_social">
                                <div>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer_second">
                        <div>
                            <div class="footer-title">
                                <h3>My Account</h3>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>Wishlist</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>T & C</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>Legal Notice</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>Contact Us</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>Blog Detail</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer_second">
                        <div>
                            <div class="footer-title">
                                <h3>Information</h3>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>All Collection</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>Delivery</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>Search Notice</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>Best Seller</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-circle-right"></i>New Product</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer_forth">
                        <div class="footer-title">
                            <h3>Information</h3>
                        </div>
                        <div class="footer-contant">
                            <ul>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>Fiot Fashion Demo Store Demo Store India-3654123</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>Call Us: 123-456-7898</li>
                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i>Email Us: Support@test.com</li>
                                <li><i class="fa fa-fax" aria-hidden="true"></i>Fax: 123456</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright section Start -->
    <section class="copyright_sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="cop_p">
                        <p>2020 - 21 Copy Right by Themeforest Powered by PixelStrap</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="copy_link">
                        <ul>
                            <li><a href="#">Terms & Condition</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Copyright section End -->
</footer>
<!-- Footer End -->

<!-- Tap on Top -->
<div class="tap-top top-cls top_5">
    <div>
        <i class="fa fa-angle-double-up"></i>
    </div>
</div>
<!-- Tap on Ends -->